// Basic typography style for copy text
body {
  color: $text-color;
  font-family: $body-font;
  font-weight: 300;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font;
  line-height: initial;
  margin: 0 0 1rem;
}


h1 {
  @include responsive-font-size(45px, 120px);
}

h2 {
  @include responsive-font-size(30px, 40px);
}

h3 {
  @include responsive-font-size(26px, 32px);
}

h4 {
  @include responsive-font-size(22px, 28px);
}

h5 {
  @include responsive-font-size(18px, 24px);
}

h6 {
  @include responsive-font-size(16px, 18px);
}
